
.topnav a {
  backgroundc-color: RGB(0,0,150);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#ddd;
  color: black;
 
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
    


.logo {
  display: block;
  margin-top: auto;
  margin-left: 60 px;
  margin-right: auto;
  width: 22%
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
  border: 4px solid powderblue;
  
form {
  display: block;
  color: black;
  text-align: center;
  border: 4px solid powderblue;
  }
  
 input {
    display: block;
  color: black;
  text-align: center;
  border: 4px solid powderblue;
  }
