
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
  border: 4px solid powderblue;
  
form {
  display: block;
  color: black;
  text-align: center;
  border: 4px solid powderblue;
  }
  
 input {
    display: block;
  color: black;
  text-align: center;
  border: 4px solid powderblue;
  }
